<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.bhavik.assignment3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="SearchAMovie"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:targetApi="28">

        <!-- Login screen (launcher activity) -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register screen -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false"
            tools:ignore="MissingClass" />

        <!-- Movie list (main app screen) -->
        <activity
            android:name=".view.MovieListActivity"
            android:exported="false"
            tools:ignore="MissingClass" />

        <!-- Movie details screen -->
        <activity
            android:name=".ui.MovieDetailsActivity"
            android:exported="false"
            tools:ignore="MissingClass" />

        <!-- Favorites screen -->
        <activity
            android:name=".view.FavoritesActivity"
            android:exported="false"
            tools:ignore="MissingClass" />

        <!-- Favorites details screen -->
        <activity
            android:name=".ui.FavoritesDetailsActivity"
            android:exported="false"
            tools:ignore="MissingClass" />

    </application>

</manifest>